
    <%- include('./partials/head.ejs') %>
    <h3><%= data.getUserName() %> </h3>
        <main>
            <a href="/pay">Pay</a>
            <table>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Nama Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>No. Transaksi</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <%data.Items.forEach((e, i)=>{%>
                        <tr>
                            <td><%=i + 1%></td>
                            <td><%= %></td>
                            <td><%= %></td>
                            <td><%= %></td>
                            <td><%= %></td>
                            <td><%= %></td>
                            <td><%= %></td>
                            <td>
                                <a href="/cancel/<%=product.id%>"" id="cancel">cancel</a>
                                <a href="/pay/<%=product.id%>" id="pay">Pay</a>
                                <a href="/cart/edit/<%=product.id%>" id="edit">edit</a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </main>
</body>

</html>